*{
  margin: 0;
  padding:0;
  box-sizing: border-box;
}
body{
  font-family: 'Nunito Sans', sans-serif;
font-family: 'Roboto', sans-serif
}
.table {
  width: 80%;
  border-collapse: collapse;
  margin:  16px auto;
  border-radius: 10px;
  
}

.header {
  text-align: left;
  margin-bottom: 8px;
  font-size: 16px;
  background-color: #000080;
  color: #fff;
}

td{
  width: 25%;
}
td,
th {
  border: 1px solid #e3e3e3;
  padding: 8px;
}

.tableData {
  text-align: center;
}
.App{
  padding:'0 64px'
}
.loader {
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
 
}

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}